{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans ce blog</h1>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos error iste suscipit consequatur reprehenderit velit nemo quis earum sed sit! Magni natus dicta velit eos neque enim voluptate cupiditate possimus aut! Iste tempora quaerat officia numquam aut quos exercitationem distinctio?</p>
<p>Totam eveniet blanditiis sunt dignissimos fugiat neque qui, quidem, amet quaerat magnam soluta sit error alias repudiandae expedita ratione! Inventore incidunt officiis mollitia dolor quos nam. Quas facilis laboriosam perferendis soluta sit. Minima perferendis ut deleniti. Nobis perferendis recusandae architecto!</p>

{% endblock %}